.icon-comment {
  color: #409eff;
}

.icon-collected {
  color: #ffcb5b;
}

.icon-liked {
  color: #409eff;
}

.icon-sunshine {
  color: #ffcb5b;
  font-size: 25px;
}

.icon-time {
  color: #409eff;
}

.icon-location {
  color: #409eff;
}