html {
    box-sizing: border-box;
    font-size: $font-size-base;
    color: $color-text-regular;
}

body,
div,
p,
ul,
ol,
li,
nav,
h1,
h2,
h3,
h4,
h5,
h6 {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color-text-primary;
}

.inline {
    display: inline-block;
}

// element-链接
.el-link {
    font-size: inherit;
    user-select: none;
}

// element-导航
.el-menu {
    .el-menu-item {
        font-size: $font-size-large;
    }
}

@import './icon';