html {
    box-sizing: border-box;
    font-size: $font-size-base;
    color: $color-text-regular;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4 {
    color: $color-text-primary;
}

// element-链接
.el-link {
    font-size: inherit;
    user-select: none;
}

// element-导航
.el-menu {
    .el-menu-item {
        font-size: $font-size-large;
    }
}