// 文本一行显示不全出省略号
@mixin one-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

//整体宽度
@mixin body-width {
    margin: 0 auto;
    width: 90%;
    min-width: 1000px;
    max-width: 1300px;
}