// 文本一行显示不全出省略号
@mixin one-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

//整体宽度
@mixin body-width {
    margin: 0 auto;
    min-width: 930px;

    @media screen and (min-width: 930px) {
        width: 930px;
    }

    @media screen and (min-width: 1245px) {
        width: 1245px;
    }

    @media screen and (min-width: 1560px) {
        width: 1560px;
    }

}